<div class="buttons-container">
    <div class="ui fluid teal button" data-type="start">точка отправления</div>
    <div class="ui fluid teal button" data-type="transit">транзитная точка</div>
    <div class="ui fluid teal button" data-type="finish">точка прибытия</div>
</div>