extends ./layout

block title
    title= title

block append styles
    link(rel='stylesheet' href='public/css/index.css')
    link(rel='stylesheet' href='public/datetimepicker/jquery.datetimepicker.css')

block append scripts
    script(src='public/js/index.js')
    script(src='public/datetimepicker/jquery.datetimepicker.js')

block content
    .ui.grid
        #left-menu.five.wide.column
            .ui.fluid.input
                input#datetimepicker(type='text' placeholder='Выберите дату и время отправления')
            .ui.fluid.action.input
                input(placeholder='Введите название')
                #reverse-geocode.ui.teal.button= 'Найти'
            #search-results.ui.relaxed.link.items
            .ui.teal.button= 'Построить маршрут'
        .eleven.wide.column
            #map

block templates
    script#popup-controls(type='x-tmpl-templates')
        include ../templates/popup-controls.html
    script#search-item(type='x-tmpl-mustache')
        include ../templates/search-item.mustache
