extends ./layout

block title
    title= title

block append styles
    link(rel='stylesheet' href='public/css/index.css')

block append scripts
    script(src='public/js/index.js')

block content
    #map
    #control
        .ui.teal.button= 'Построить маршрут'

block templates
    script#buttons-template(type='x-tmpl-mustache')
        include ../mustache/point-type-selection.mustache
    script#popup-controls(type='x-tmpl-mustache')
        include ../mustache/popup-controls.mustache