.buttons-container {
  padding: 20px 10px;
}
.buttons-container .ui.button {
  margin-top: 10px;
}
.popup-controls {
  padding: 20px 10px;
}
.popup-controls .ui.button {
  margin-top: 10px;
}
#header {
  background-color: #00B5AD;
  margin: 0 auto;
  text-align: center;
  min-height: 100px;
}
#header h1.ui.header {
  padding-top: 20px;
  color: #ffffff;
}
#map {
  min-height: 500px;
}
#map .ui.button {
  min-width: 200px;
}
.five.wide.column .ui.action.input {
  margin-bottom: 25px;
  margin-top: 30px;
}
.five.wide.column > div {
  margin-left: 5px;
}
