.buttons-container {
  padding: 20px 10px;
}
.buttons-container .ui.button {
  margin-top: 10px;
}
.popup-controls {
  padding: 20px 10px;
}
.popup-controls .ui.button {
  margin-top: 10px;
}
#header {
  background-color: #00B5AD;
  margin: 0 auto;
  text-align: center;
  min-height: 100px;
}
#header h1.ui.header {
  padding-top: 20px;
  color: #ffffff;
}
#map {
  min-height: 600px;
}
#map .ui.button {
  min-width: 200px;
}
.ui.grid {
  margin: 0;
}
.ui.grid .eleven.wide.column {
  padding: 0;
}
.ui.grid .five.wide.column {
  padding-top: 0;
  max-height: 600px;
  overflow-y: auto;
}
.ui.grid .five.wide.column .ui.input {
  margin-bottom: 25px;
  margin-top: 30px;
}
.ui.grid .five.wide.column #route.ui.feed {
  padding-top: 15px;
}
.ui.grid .five.wide.column #route.ui.feed .event {
  cursor: pointer;
  margin-bottom: 20px;
}
.ui.grid .five.wide.column #route.ui.feed .event i.edit.icon {
  float: right;
}
.ui.grid .five.wide.column > div {
  margin-left: 5px;
}
.leaflet-top.leaflet-right {
  display: none;
}
