@import 'partials/buttons_container';
@import 'partials/popup_controls';

#header{
  background-color: #00B5AD;
  margin: 0 auto;
  text-align: center;
  min-height: 100px;
  h1.ui.header{
    padding-top: 20px;
    color: #ffffff;
  }
}

#map{
  min-height: 500px;
  .ui.button{
    min-width: 200px;
  }
}

.five.wide.column{
  .ui.action.input{
    margin-bottom: 25px;
    margin-top: 30px;
  }
}
.five.wide.column > div{
  margin-left: 5px;
}

