<div class="event" data-lat="{{lat}}" data-lng="{{lng}}">
    <div class="content">
        <div class="summary">
            <div class="date">
                {{timeOfArrival}}
            </div>
        </div>
        <div class="extra text">
            {{#editable}}
            <i class="edit icon"></i>
            {{/editable}}
            {{name}}
        </div>
    </div>
</div>