<div class="time-picker">
    <h4>Время посещения</h4>
    <div class="ui right labeled input hours">
        <input type="text" value="{{hours}}"/>
        <div class="ui label">ч.</div>
    </div>
    <div class="ui right labeled input minutes">
        <input type="text" value="{{minutes}}"/>
        <div class="ui label">мин.</div>
    </div>
    <div class="ui fluid button change-visit-time">Изменить</div>
</div>
